@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@font-face {
  font-family: "GT Ultra Trial";
  src: url("../fonts/GT-Ultra-Standard-Bold-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video,
img,
svg,
object {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

:root {
  --yellow: #FFF38A;
  --blue: #060447;
}

html,
body,
main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  height: auto;
  padding: 0 187px;
}

@media screen and (max-width: 1439px) {
  main {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1279px) {
  main {
    padding: 0 20px;
  }
}

@media screen and (max-width: 991px) {
  main {
    padding: 0 100px;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 0 20px;
  }
}

li {
  list-style: none;
}

h1, p {
  color: var(--yellow);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48.76px;
}

@media screen and (max-width: 991px) {
  h1 {
    text-align: center;
    line-height: initial;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 27px;
  }
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 991px) {
  p {
    line-height: initial;
    height: 96px;
  }
}

@media screen and (max-width: 480px) {
  p {
    font-size: 18px;
    height: 88px;
  }
}

#slider {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  #slider {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 991px) {
  #left {
    justify-content: center;
    width: 100%;
  }
}

#left li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 509px;
  transform: translateX(48px);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
  #left li  {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

#left li.active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

#left li.hide {
  opacity: 0;
  transform: translateX(-136px);
  transition: all 0.3s ease-in-out;
}

#left img {
  width: 80px;
  margin-bottom: 24px;
}

@media screen and (max-width: 480px) {
  #left img {
    width: 70px;
  }
}

#left h1 {
  margin-bottom: 8px;
}

#left p:not(#date){
  width: 422px;
}

@media screen and (max-width: 991px) {
  #left p:not(#date){
    width: 100%;
    text-align: center;
  }
}

#top {
  height: 300px;
}

@media screen and (max-width: 991px) {
  #top {
    height: 257px;
  }
}

@media screen and (max-width: 480px) {
  #top {
    height: 223px;
  }
}

#date {
  position: relative;
  display: flex;
  font-family: 'GT Ultra Trial', sans-serif;
  font-weight: 700;
  font-size: 231.148px;
  line-height: 69.5%;
}

@media screen and (max-width: 991px) {
  #date {
    justify-content: center;
    font-size: 120px;
    line-height: initial;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  #date {
    font-size: 100px;
    margin: 10px 0;
  }
}

.first-number,
.last-number {
  position: absolute;
  top: 0;
  opacity: 0;
  transform: translateX(59px);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
  .first-number,
  .last-number {
    position: initial;
    display: none;
  }
}

.first-number {
  left: 236.47px;
  z-index: 2;
}

.last-number {
  z-index: 1;
}

.last-number[data-slide="0"] {
  left: 369.38px;
}

.last-number:not(.last-number[data-slide="0"]) {
  left: 383.72px;
}

.first-number.active,
.last-number.active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}

.first-number.hide,
.last-number.hide {
  opacity: 0;
  transform: translateX(-107px);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
  .first-number.active,
  .last-number.active {
    display: block;
  }

  .first-number.hide,
  .last-number.hide {
    display: none;
  }
}

.last-number[data-slide="1"].hide {
  transform: translateX(-53px) !important;
}

#right {
  position: relative;
  overflow: hidden;
  width: 422px;
  height: 604px;
}

@media screen and (max-width: 991px) {
  #right {
    width: 300px;
    height: 429.3px;
  }
}

@media screen and (max-width: 480px) {
  #right {
    width: 220px;
    height: 314.82px;
  }
}

#right img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: auto;
}

#right img.active {
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
}

#right img.hide {
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

@media screen and (max-width: 991px) {
  #bottom {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
}

#slides-buttons {
  display: flex;
  gap: 40px;
}

button {
  background: none;
  border: none;
  width: 35px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
  button {
    margin-top: 30px;
  }
}

button.max {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

#bottom ul {
  display: flex;
  width: 80.13%;
}

@media screen and (max-width: 991px) {
  #bottom ul {
    width: 100%;
  }
}

#bottom li {
  display: flex;
  align-items: center;
  position: relative;
  height: 36px;
  width: 100%;
}

#bottom li:first-child{
  width: 36px;
}

#bottom li:first-child::before{
  display: none;
}

#bottom li::before {
  content: "";
  width: calc(100% - 36px);
  height: 2px;
  background-color: var(--yellow);
  opacity: 0.3;
}

.yellow-bars {
  position: absolute;
  left: 0;
  top: 50%;
  width: calc(100% - 36px);
  height: 2px;
  background-color: var(--yellow);
  transform: scaleX(0) translateY(-50%);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

li.active .yellow-bars,
li.hide .yellow-bars {
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

#bottom li::after {
  content: "";
  width: 32px;
  height: 32px;
  border: #827B68 solid 2px;
  border-radius: 100px;
  background-color: var(--yellow);
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
}

#bottom li:first-child::after,
#bottom li.active::after,
#bottom li.hide::after{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}